[submodule "web"]
	path = web
	url = https://github.com/caiogomesdev/task-list-fullstack/tree/main/web
[submodule "back-end"]
	path = back-end
	url = https://github.com/caiogomesdev/task-list-fullstack/tree/main/back-end